html {
	/* UNITED COLORS OF CSS (CUSTOMIZABLE)*/

	/* COLOURS */
	--background-color: white;
	--paragraph-color: black;
	--orange-color: #FA6900;
	--yelloworange-color: #F38630;
	--lightblue-color: #A7DBD8;
	--blue-color: #69D2E7;
	--beach-color: #E0E4CC;
	
	/* TYPEFACES */
	--font-variation: Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--blue-color);
	color: var(--paragraph-color);
	font: normal normal 1em/2em var(--font-variation);
	margin: 0em;
	text-align: center;
}

p, li {
	font-size: 0.8em;
}

.article-one , .article-two , .article-three , .article-four, .article-five, .article-six {
    background-color: var(--background-color);
	padding: 1.5em;
}

a {
    display: block;
}

/* MENU */

.nav-bar {
    width: 100%;
    background-color: var(--orange-color);
    overflow: hidden;
}

.bar {
    text-decoration: none;
    color: var(--orange-color);
    text-transform: uppercase;
}

.dropdown {
    float: left;
    height: 5em;
    overflow: hidden;
}

.dropbutton {
	height: 7em;
    width: 7em;
    border: none;
    outline: none;
    background: var(--orange-color);
    padding: 0em;
    margin: 0em;
}

.menu {
	height: 1.5em;
    width: auto;
    padding-left: 0.5em;
    padding-top: 1.75em;
    padding-right: 0.5em;
    padding-bottom: 1.75em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--orange-color);
    min-width: 15em;
	z-index: 1;
	border-radius: 1em;
}

.dropdown-content a {
    float: center;
    color: var(--orange-color);
    background-color: var(--background-color);
    padding: 1em 1em;
    text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
    background-color: var(--orange-color);
    color: var(--beach-color)
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* ARTICLES: ONE, TWO, THREE, FOUR, FIVE, AND SIX */

h2 {
    margin-top: 0em;
	margin-bottom: 0em;
	text-align: center;
    color: var(--paragraph-color);
    background-color: var(--yelloworange-color);
	padding: 0.5em 0em 0.5em 0em;
	border-radius: 1em;
	margin-bottom: 2em;
}

h3 {
    font-weight: 900;
    text-transform: uppercase;
	margin-top: 0em;
    background-color: var(--lightblue-color);
    color: var(--paragraph);
	padding: 0.5em 0em 0.5em 0em;
	border-radius: 1em;
}

ul {
    list-style-type: none;
    padding: 0em;
}

.article-two {
    background-color: var(--background-color);
}

.article-two h2 {
    background-color: var(--lightblue-color);
    color: var(--paragraph);
	padding: 0.5em 0em 0.5em 0em;
	border-radius: 1em;
	text-transform: uppercase;
}

.article-three {
    background: var(--background-color);
    padding: 1em 0 1em 0;
}

.article-three h2 {
	color: var(--paragraph-color);
	text-transform: uppercase;
	background: var(--lightblue-color);
}

img {
    max-width: 100%;
}

.grid-container-one{
    margin: 0;
    background: var(--orange-color);
}

.image-grid-one{
    background: var(--orange-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article-four h2 {
    background-color: var(--lightblue-color);
	color: var(--paragraph);
	text-transform: uppercase;
}

.grid-container-career {
	margin: auto;
}

.grid-career {
    display: grid;
    grid-gap: 0.5em;
	grid-template-columns: 1fr;
}

.grid-career li {
	background: var(--beach-color);
    color: var(--orange-color);
    padding: 0.75em;
	text-transform: uppercase;
	border-radius: 1em;
}

.article-five {
	background-color: var(--background-color);
	margin-bottom: 0;
	margin-top: 0;
	padding: 0.5em 0em 0.5em 0em;
}

.article-five h2 {
    background-color: var(--lightblue-color);
    color: var(--paragraph-color);
	padding: 0.5em 0em 0.5em 0em;
	border-radius: 1em;
	text-transform: uppercase;
}

.article-six {
	background-color: var(--background-color);
	margin-bottom: 0;
	margin-top: 0;
	padding: 0.5em 0em 0.5em 0em;
}

.article-six h2 {
    background-color: var(--lightblue-color);
    color: var(--paragraph);
	padding: 0.5em 0em 0.5em 0em;
	border-radius: 1em;
	text-transform: uppercase;
}

/* FOOTER */

.grid-container-two {
    border: var(--orange-color) solid 10px;
    background-color: var(--orange-color);
}

.image-grid-two li {
    text-align: left;
    font-size: 0.8em;
}

.image-grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.grid-container-three {
    border: var(--orange-color) solid 10px;
    background-color: var(--orange-color);
}

.image-grid-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
}

.image-grid-three a {
    background-color: var(--orange-color);
}

.nav-bottom {
    background-color: var(--orange-color);
	color: var(--background-color);
}

a {
	color: var(--paragraph-color);
}

/* DESKTOP USAGE */

@media only screen and (min-width: 750px) {
    p , li {
        font-size: 1em
	}
	
    .article-one , .article-two , .article-three , .article-four, .article-five, .article-six {
        padding: 2em;
	}
	
    .page-content {
        padding-right: 15%;
        padding-left: 15%;
	}

    .image-grid-one , .image-grid-three {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }