/* Basic styling */
* {
	font: normal 1em Helvetica, sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	width: 100vw;
	background-color: black;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	list-style-type: none;  
	margin: 0 2vw;
	font-size: 3vh;
}

a {
	text-decoration: none;
	color: black;
	padding: 2vw;
}

a:hover {
	background-color: #C6E9FF;
}

@media only screen and (max-width: 500px) {
	/*shows elements in a column*/
	ul {
	  flex-direction: column;
	}
	
	/* deletes margin on top or bottom of the a tag*/
	li {
	  margin: 0;
	}
   /* makes sure that the a tag will take the entire screen*/
	a {
	  display: block;
	}
}  